.container {
  width: 100%;
  flex-direction: column;
  .header {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;

    .title {
      font-size: 28px;
      margin: 0;

      .emoji {
        font-weight: 400;
        font-family: apple color emoji, segoe ui emoji, noto color emoji,
          android emoji, emojisymbols, emojione mozilla, twemoji mozilla,
          segoe ui symbol;
        margin-right: 10px;
      }
    }

    .button {
      padding: 15px;
      padding-left: 20px;
      padding-right: 20px;
      width: 250px;
      background-color: black;
      border: none;
      border-radius: 16px;
      font-size: 16px;
      font-weight: 700;
      color: white;
      border: 3px solid #eee;
      cursor: pointer;
    }
  } 
}
