.container {
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(277.87deg, #9500CA 2.29%, #371376 48.21%, #00AC4F 84.02%);
    border: none;
    border-radius: 16px;
    font-weight: 900;
    font-size: 18px;
    color: white;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    cursor: pointer;
  }