.container {
  width: 100%;

  .main {
    display: flex;

    .photosContainer {
      height: 100%;
      //width: 80%;
      position: relative;
      margin-right: 20px;

      .carouselContainer {
        position: relative;
        .carousel {
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          display: flex;
        }
        img {
          max-width: 650px;
        }
      }

      .smallPhotos {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        gap: 10px;

        img {
          max-width: 80px;
          border: 3px solid #eee;
          border-radius: 6px;
          padding: 10px;
          cursor: pointer;
          object-fit: contain;

          &:hover {
            border: 3px solid #ddd;
          }
        }
      }
    }
    .productInfos {
      display: flex;
      flex-direction: column;
      margin-left: 130px;
      //width: 100%;
      //background-color: #fff;
      .header {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;

        .productTitle {
          font-size: 64px;
          margin: 0;
        }
      }

      .priceText {
        font-size: 24px;
        color: grey;
        font-weight: 500;
      }

      .sizes {
        h4 {
          margin: 0;
          margin-bottom: 10px;
        }
        button {
          border: 3px solid #eee;
          color: white;
          border-radius: 4px;
          background-color: transparent;
          margin: 0;
          margin-right: 10px;
          margin-bottom: 10px;
          padding: 10px;
          padding-left: 15px;
          padding-right: 15px;
          cursor: pointer;
        }
      }

      .buttons {
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .infoContainer {
        h4 {
          margin: 0;
          margin-top: 10px;
        }
      }
    }
  }

  hr {
    color: #f6f6f655;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
  }
}